.header {
	width: 90%;
    max-width: 1206px;
    margin: 0 auto;
}

.header h1 {
	float: left;
	margin: 0;
	padding: 0 15px;
	font-size: 24px;
	line-height: 56px;
	font-weight: 400;
	color: #FFF;
}

.header nav a {
	display: inline-block;
	height: 56px;
	line-height: 56px;
	padding: 0 15px;
	min-width: 50px;
	text-align: center;
	text-decoration: none;
	letter-spacing: 3px;
	color: #FFF;
	will-change: background-color;
}

.header nav a:hover,
.header nav a:active {
	background: black;
}

.header nav a.active {
	color: rgb(49, 232, 193);
}
